<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="selectfile" multiple="multiple" id="lefile">
        <button type="submit">上传</button>
        <button type="submit", onclick="", name="dianji">点击</button>
    </form>


    {% if imglist %}
        {% for imgname in imglist %}
            <img src="{{ url_for('static',filename=imgname) }}" width="300px" height="300px"/>
        {% endfor %}
    {% endif %}
</body>
</html>